<div ui-content-for="title">
    <span>echarts Bar</span>
</div>

<style>
.section {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    font-size: 1.2em;
}
.pager {
    margin: 0.8em 0;
}
</style>

<div class="scrollable">
    <div class="scrollable-content section">
        <div id="echartsBar" style="height:400px"></div>
    </div>
</div>

<div ui-content-for="navbarAction">
</div>