<div ui-content-for="title">
    <span></span>
</div>

<style>
    .header {
        text-align: center;
    }
    .header h1 {
        font-size: 300%;
        color: #027bff;
        margin-top: 1rem;
    }
    .header p {
        font-size: 2rem;
    }
</style>

<div class="scrollable">
    <div class="scrollable-content section">
        <div class="header">
            <h1>SysFreight</h1>
            <p>Mobile Operation App</p>
            <br/>
        </div>
        <div>
            <ul class="nav nav-pills nav-stacked text-center">
                <li><a class="btn btn-default" href="./pv">Payment Voucher</a></li>
                <li><a class="btn btn-default" href="./test1">Invoice</a></li>
                <li><a class="btn btn-default" href="./test2">Job Status</a></li>
                <li><a class="btn btn-default" href="./test3">Picking</a></li>
                <li><a class="btn btn-default" href="./test4">Verify GRN & Putaway</a></li>
                <li><a class="btn btn-default" href="./test5">Verify GIN</a></li>
            </ul>
        </div>
    </div>
</div>

<div ui-content-for="navbarAction">
</div>