<div class="modal" ui-if='modal' ui-state='modal'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" ui-turn-off="modal">&times;</button>
                <h4 class="modal-title">Payment Voucher</h4>
            </div>
            <div class="modal-body">
                <h5><p>{{ message }}</p></h5>
            </div>
            <div class="modal-footer">
                <button ui-turn-off="modal" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>
