<div class="scrollable">
    <h1 class="scrollable-header app-name">SysFreight <small>Mobile Operation App</small></h1>
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="./main">Home <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="./pv">Payment Voucher <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="./echartsBar">echarts Bar <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="./echartsPie">echarts Pie <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="./echartsMap">echarts Map <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="./echartsRadar">echarts Radar <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="./echartsLine">echarts Line <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="./logout">Log out <i class="fa fa-chevron-right pull-right"></i></a>
        </div>
    </div>
</div>